<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
      <%= label_tag :remember_me %>
      <%= check_box_tag :remember_me %>
      <span>Remember me on this computer</span>
    </div>
  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>
